*{
    padding:0px;
    margin: 0px;
    scroll-behavior: smooth;
}
body::before{
    content:"";
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    background:url(../logo\ copy.png);
    opacity:0.07;
    z-index: -1;
}
.navbar{
    display:flex;
    margin-bottom: 2em;
}
.navbar img{
    padding:5px 20px;
    animation-name:rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    margin:auto;
    position:absolute;
}
@keyframes rotate {
0%{
    transform:rotate(0deg);
}    
5%{
    transform:rotate(360deg);
}
100%{
    transform:rotate(360deg);
}
}
.item{
    padding-right: 2em;
    padding-bottom: 20px;
}
.item a{
    text-decoration: none;
    color:rgb(52, 48, 63);
    font-size: 1.5em;
}
.ul1{
    display:flex;
    margin-left: auto;
    padding-top:10px;
    padding-left:80px;
}
.hamburger{
    min-width:40px;
    height:40px;
    right:2em;
    top:1em;
    position:absolute;
    cursor:pointer;
    display:none;
}
.line{
    border:2px solid white;
    border-radius: 25px;
    margin:5px;
    display:block;
    box-shadow: 0 0 10px #3f3f3f, 0 0 10px #3b3b3b;
}
@media only screen and (max-width: 791px){
    .navbar{
        background-color: rgb(0, 0, 0, 0.2);
        justify-content: center;
        transition: 0.1s ease-out;
        height:220px;
    }
    .ul1{
        flex-direction: column;
        margin:0px 100px;
    }
    .navbar img{
        padding:5px 20px;
        left:0px;
        position:absolute;
    }
    .hamburger{
        display:block;
    }
    .h-nav{
        height:72px;
    }
    .v-class{
        opacity:0;
    }

}
.top{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    position:relative;
    animation-name:slide;
    animation-duration:1s;
    animation-iteration-count:1;
}
@keyframes slide{
    0%{left:150px;
       opacity:0;
    }
    100%{
        opacity:1;
        left:0px;
    }
}
.dp{
    width:12em;
    height:12em;
    border-radius: 100px;
    box-shadow: 0 0 10px black;
    /* margin-bottom: auto;
    margin-top:2em; */
    
}
#About_me{    
    font-size: 20px;
    width:48%;
    margin:2em;
}
h1{
    font-size:50px;
    display:block;
    margin-bottom:1em;
}
h4{
    display:block;
}
h2{
    display:block;
}
h2{
    margin: 2em auto 1em auto;
    width:fit-content;
    color:rgb(134, 94, 40);
    font-size: 30px;
    animation-name:fade;
    animation-iteration-count: 1;
    animation-delay:1s;
    animation-duration:1s;
    animation-fill-mode: forwards;
    opacity:0;
}
@keyframes fade{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
h3{
    font-size: 22px;
}
#Education_details{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border:1px solid rgb(134, 94, 40);
    border-radius:25px;
    margin:0px 4em;
    animation-name:fade;
    animation-iteration-count: 1;
    animation-delay:1s;
    animation-duration:1s;
    animation-fill-mode: forwards;
    opacity:0;
}
.ed{
    color:rgb(17, 82, 82);
    padding:1.5em;
    max-width: 300px;
}